body {
  background-image: url('/src/assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

button {
  text-transform: none !important;
}

p {
  text-transform: none !important;
}

.zoom {
  width: 100%;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
}

.ql-editor {
  direction: rtl;
  text-align: right;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
}
.ql-container.ql-snow {
  border: 0 !important;
}
.MuiSvgIcon-fontSizeMedium {
  width: 30px !important;
  height: 30px !important;
}

@media screen and (max-width: 600px) {
  .MuiSvgIcon-fontSizeMedium {
    width: 20px !important;
    height: 20px !important;
  }
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
}

.confirm-delete {
  background-color: rgba(56, 80, 104, 0.7) !important;
  z-index: 1301 !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
